body {
    background-color: hsl(35, 50%, 80%);
    text-align: center;
    padding: 1rem;
    display:block;
}

img {
    width: 50%;
    margin-bottom: 2rem;
}

button {
    font-size: xx-large;
    padding: 1.5rem;
    margin: 2rem;
    background-color: hsl(35, 50%, 68%);
    border-radius: 15%;
}

button:hover {
    cursor: pointer;
    background-color: hsl(35, 50%, 60%);
}

a {
    font-size: x-large;
}